<form action="/local-login" class="centered padded-form" method="post">
    <input type="email" placeholder="Email" name="username"/>
    <input type="password" placeholder="Password" name="password"/>
    <input type="submit" class="btn-border" value="Login"/>
</form>