<form action="/local-reg" class="centered padded-form" method="post">
    <input type="email" placeholder="email" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="submit" class="btn-border" value="Register"/>
</form>