<form action="/photos/search" class="search-form" method="get">
    <input type="text" class="main-search" name='tag' placeholder="Search Your Bib Number"/>
    <input class="search-but btn-border centered" type="submit" value="search"/>
</form>

<section>
    <section class="columns">

        <article class="column column-two instructions">
            <h2>For Runners</h2>

            <p>No more paying a fortune for race photos! Simply enter your bib number above to search for any photos you were tagged in</p>
            <!--<a class="search-but btn-border centered" href="/uploads">Upload Photos</a>-->
        </article>


        <article class="column column-two instructions">
            <h2>For Photographers</h2>

            <p>Please login above to upload your race photos.  After the upload is complete you will be able to tag your images so they become searchable by runners</p>
            <!--<div>-->
                <!--<button class="search-but btn-border centered">Upload Photos</button>-->
            <!--</div>-->

        </article>

    </section>


</section>