<!--<h1 class="centered">Welcome to Runner Up Photo</h1>-->

<form action="/photos/search" class="search-form" method="get">
    <input type="text" class="main-search" name='tag' placeholder="Search Your Bib Number"/>
    <input class="search-but btn-border centered" type="submit" value="search"/>
</form>

<!--{{#each img}}-->
    <!--{{this.url}}-->
<!--{{/each}}-->

<!--<img src="{{img}}" alt=""/>-->

<!--<form action="/upload" method="post" enctype="multipart/form-data" >-->
    <!--<input type="file" name="upload" multiple/>-->
    <!--<input type="submit" value="submit"/>-->
<!--</form>-->