<div class="padded centered">
    <a class="centered" href="/users/profile/{{user.id}}/tagged">Your Tagged Photos</a>
    <a class="centered" href="/photos/uploads/{{user.id}}">Your Untagged Photos</a>
</div>
